<!DOCTYPE html>
<html>

<head>
    <title>Listening Tips</title>
    <meta charset="utf-8">
</head>

<body>
    <h1>Academic Listening – Làm sao để học nghe tiếng Anh hiệu quả?!</h1>
    <p>Chắc các bạn – những sĩ tử luyện thi IELTS đều nghe biết đến phương pháp học Listening là “tắm ngôn ngữ”,
        có nghĩa là bạn nghe tiếng anh mọi lúc, mọi nơi, bất cứ đâu mà bạn có thể “turn on radio”. Đó thực sự là 1 phương
        pháp hữu ích tạo môi trường tiếng anh thực thụ cho các bạn, giúp các bạn làm quen các âm (vowel & consonant) và ngữ
        điệu người bản ngữ (accent).</p>
    <p>Nhưng đôi khi, bạn không muốn “tắm ngôn ngữ” nữa, bạn muốn nghe thực thụ – bạn tò mò muốn biết người nói đang nói về
        vấn đề gì.</p>
    <p>Dưới đây Điệp tớ sẽ đưa ra 1 số kênh nhằm giúp các bạn luyện nghe và đồng thời nâng cao kiến thức xã hội cho các bạn
        – bạn đừng nghĩ là nó sẽ nhàm chán, hãy nghe và thực sự yêu thích, điều đó sẽ mang lại không chỉ là high bandscore
        cho Listening skills mà còn mang lại một kho kiến thức khổng lồ giúp bạn làm tốt Task 2 của Writing nữa nhé.</p>
    <h3>1. <a href="http://www.ted.com/talks">http://www.ted.com/talks</a></h3>
    <img src="image/Academic-Listening-How-to-effective-listening.jpg" height="232" width="232"/>
    
    <p>Đây thực sự là 1 kênh truyền hình được match nhiều, TED talk mời những thought leaders về nhân văn, khoa học kỹ thuật, phát triển con người đến để nói chuyện. Mỗi bài chỉ khoảng 6-10p.</p>
    <p>Nếu bạn nghe chưa được tốt, bạn cũng đừng lo lắng và e ngại. Hầu hết các bài đăng trên TED Talk đều có phụ đề tiếng Anh và những tiếng khác để truyền bá ideas đi rộng rãi. Hoặc bạn có thể nghe lại bằng Tiếng Việt để hiểu rõ vấn đề diễn giả đang nói tới, rất hữu ích cho viêc phát triển tư duy nhé!</p>
    
    <h4>2. <a href=" http://www.youtube.com/user/BBCdocumentariesHD?feature=watch">Tài liệu trực tuyến của kênh BBC</a></h4>
    <img src="image/BBC_Africa_title_card.jpg" height="232" width="232"/>
    
    <p>Mình có thói quen thường nghe BBC documentary từ youtube.com do tốc độ load nhanh và tiện lợi cho người nghe. Native speakers trong các video nói rất chậm, gần gũi và dễ nghe. Bạn có thể lựa chọn video mà bạn cảm thấy hấp dẫn với bạn</p>
    
    <p>Video “ The Creative Brain How Insight Works” sẽ dưới thiệu cho các bạn 1 phương pháp mới để sử dụng hiệu quả bộ não chúng ta. Mời các bạn thưởng  thức:</p>
    
    <h2">Cách học nghe từ video clip trên Internet:</h2>
    <p>Để nghe và thực sự học được từ 1 đoạn clip từ 3 – 5 phút bạn phải mất từ 30 phút – 1 tiếng, số lần nghe cũng từ 5 – 7 lần.</p>
    <p style="text-align: justify;"><b><i>Nghe lần 1 – 2</i></b>: Những lần đầu nghe, bạn không nên nhìn script ngay mà hãy thử để tự nghe xem bạn có thể hiểu được đến đâu. Nếu nghe lần 1 mà bạn thấy hiểu được khoảng 50% rồi thì chuyển sang giai đoạn tiếp, nếu bạn vẫn thấy mù mờ thì hãy thử nghe tiếp lần 2 để nắm được ý chính mà đoạn clip nói.</p>
    <p style="text-align: justify;"><b><i>Nghe lần 3</i></b>: Trong lần nghe này, bạn có thể nhìn script, như vậy bạn đã có thể hiểu được hầu hết những gì mà clip nói, đồng thời bạn cũng tự phát hiện được một số từ key words mà bạn không bắt được trong 2 lần nghe đầu.</p>
    
    <p style="text-align: justify;"><b><i>Nghe lần 4 – 5</i></b>: Lần này bạn nghe đồng thời đọc script, tuy nhiên lần này bạn hãy nghe theo kiểu từng câu một, tức là phải nắm chắc từng từ mà người nói nói. Sau đó gạch chân các key words và các từ mà bạn cảm thấy khó bắt khi nghe không có script.</p>
    <p style="text-align: justify;"><b><i>Nghe lần 6 – 7</i></b>: Sau khi đã đọc script nhiều lần, nghe kĩ từng câu trong clip thì những lần nghe cuối này, bạn hãy chỉ&nbsp; nghe, không nhìn script và chép lại tất cả những gì bạn có thể nghe được. Nếu như có chỗ nào bạn không theo được thì lại thử lại từ lần nghe 4 – 5. Bạn hoàn thành bài học khi bạn đã có thể viết lại khoảng 80% những gì người nói nói.</p>
    <p>Ngoài ra, đối với các bài nghe mang tính học thuật cao như BBC documentary các bạn cũng nên đọc kĩ lại script và ghi chép lại từ vựng hay, cấu trúc câu hay để sử dụng cho phần IELTS writing sau này nhé.</p>
    <p>Hãy thực hành theo phương pháp trên mỗi ngày, đảm bảo khả năng nghe của bạn sẽ được nâng cao đáng kể sau 1 tháng đấy. Nhưng nên nhớ việc luyện tập này cần độ kiên trì cao nhé !</p>
    
</body>

</html>