<!DOCTYPE html>
<html>

<head>
    <title>Reading Tips</title>
    <meta charset="utf-8">
</head>

<body>
    <h1 class="entry-title">Làm sao để cải thiện tốc độ đọc IELTS Reading</h1>
    <p>Đối với các bạn chưa thi gấp (tức là còn khoảng 2 tháng trở lên để luyện thi IELTS)</p>
    <p>Việc đầu tiên đó là tăng tốc độ đọc (Reading speed) và tăng lượng từ vựng. Đây là 2 việc quan trọng nhất, có 2 cái này
        rồi thì chả cần tips gì đi thi các bạn vẫn cứ làm được bài.</p>
    <p>Bài này mình tập trung vào việc tăng tốc độ đọc nhé:</p>
    <img src="image/dig-into-reading-300x162.png" width=300 height=162/>
    <p>Đọc là kỹ năng mà thí sinh Việt thường sợ hơn phần Nghe, mình nghĩ một phần vì học sinh mình lười đọc sách nên tất cả
        các thể loại nhiều chữ đều sợ. Chính vì thế các bạn nên rèn luyện đọc tiếng Anh thành một thói quen. Cách luyện tốc
        độ như sau:</p>
    <h2>Bước 1: Tìm nguồn đọc</h2>
    <p>2 trang mà mình strongly recommend cho các bạn là <a href="http://www.nationalgeographic.com">www.<strong>nationalgeographic</strong>.com</a>        và <a href="http://www.economist.com">www.<strong>economist</strong>.com</a>. 1 trang là về thông tin về thế giới
        tự nhiên để các bạn có thể học về các chủ đề như Environment, Nature, … còn trang còn lại về thông tin thời sự trên
        thế giới như về Economics, Business, Politics, … Nhìn chung đọc 2 trang này là bạn có thể thông thạo gần hết các
        chủ đề đọc của IELTS rồi.</p>
    <p>Mỗi bài đọc trong các trang này dài trung bình khoảng 1000 chữ, chia thành khoảng 6 – 8 đoạn rất giống bài đọc trong
        IELTS Reading thật.</p>
    <h2>Bước 2: Luyện tập Skimming</h2>
    <img src="image/girl_laying_down_reading.jpg" width=300 height="162"/>
    <p>Skimming là cách đọc lấy ý chung (General and main idea). Các bạn cần đưa mắt đọc cực nhanh nhưng vẫn phải nắm được ý
        của cả đoạn và cả bài. Nếu có từ mới đừng dừng lại mà cứ đọc tiếp, bạn có thể đoán được ý nghĩa của từ thông qua
        văn cảnh cả câu hay cả đoạn.</p>
    <p>Để luyện tập Skimming với bài đọc từ 2 website gợi ý trên, các bạn có thể làm như sau:</p>
    <p>Đọc từng đoạn, đọc hết đoạn thì dừng lại để nghĩ xem ý chính của đoạn đó là gì. Phải chắc chắn bạn nắm được ý của đoạn
        đó rồi mới chuyển sang đoạn tiếp theo nhé. Khi làm thì nhớ bấm đồng hồ để xem tốc độ của bạn đang như thế nào.</p>
    <p>Ví dụ đầu tiên bạn cho phép skim 1 đoạn hết 1 phút nhưng dần dần phải rút ngắn lại nhé, mỗi đoạn chỉ được khoảng 15s
        (tương đương là hơn 100 từ trong 15s, đây là tốc độ tốt vì sẽ làm bạn cực kỳ tập trung vào bài đọc, chứ k có phần
        não bộ nào thừa ra để nghĩ sang chuyện khác nữa)</p>
    <h2>Bước 3: Luyện tập Scanning</h2>
    <p>Scanning là cách đọc để tìm thông tin chi tiết (specific information &amp; details). Kỹ năng này rất hữu dụng cho việc
        locate information.</p>
    <p>Để luyện scanning mình nghĩ các bạn nên cùng một bạn nữa học cùng. Một bạn có thể yêu cầu bạn còn lại tìm thông tin trong
        bài và xem bạn còn lại mất bao nhiêu thời gian. Ví dụ có thể tìm trong bài là ông A, ông B nói những gì, ở đâu chẳng
        hạn.</p>

    <p>Một bài đọc mà làm được các công đoạn luyện tập trên cũng sẽ mất tầm 20 – 30 phút. Quan trọng là các bạn cần luyện tập
        hàng ngày, chỉ cần cách quãng là sẽ mất thói quen và khả năng đọc nhanh ngay. Nên nếu còn nhiều thời gian thì hãy
        bắt đầu luyện tốc độ đọc ngay bây giờ nhé, mỗi ngày chỉ cần dành ra nửa tiếng đồng hồ, nhưng chỉ sau nửa tháng bạn
        sẽ thấy bài đọc IELTS không hề dài và làm bạn đau đầu hay buồn ngủ nữa :D</p>
</body>

</html>