<!DOCTYPE html>
<html>
<head>
	<title>10 tips để đạt điểm cao trong IELTS Writing Task 2</title>
</head>
<body>
	<!--navigation -->
	<div class="navbar navbar-inverse navbar-border">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand logo">
					<span style="color:limegreen;">English</span>
					<span style="color: red;">For</span>
					<span style="color: deepskyblue">EveryOne</span>
					<span class="logo-com">.com</span>
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="#/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
							<span class="glyphicon glyphicon-book"></span> Exam Library
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="">Cambridge IELTS 1</a></li>
						</ul>
					</li>
					<li><a href=""><span class="glyphicon glyphicon-signal"></span> IELTS Band Score</a></li>
					<li><a href="#/aboutus"><span class="glyphicon glyphicon-user"></span> About</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--content -->
	<div class="container">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h1>10 tips để đạt điểm cao trong IELTS Writing Task 2</h1>
			</div>
			<div class="panel-body">
				<p>
					<em>IELTS Writing task 2 là một nhiệm vụ khá khó khăn khi thời gian chỉ là 40 phút để hoàn thành 1 đoạn văn. Đó cũng là phần thi quan trọng khi nó chiếm đến 2/3 số điểm giành cho phần Writing. Để định hướng ôn tập cho các bạn tốt hơn, dưới đây sẽ là 8 điều cần thiết mà bạn nên chú ý tập trung trong quá trình ôn luyện để không còn gặp khó khăn với bài essay nữa. Mong rằng bạn tìm thấy thông tin đó là hữu ích!</em>
				</p>
				<h2></h2>
				<h2></h2>
				<h2>
					10 tips để đạt điểm cao trong IELTS Writing Task 2
				</h2>
				<h3>
					<strong>
						Tip #1: Nói KHÔNG với informal words
					</strong>
				</h3>
				<p>
					Rất khó để chỉ ra sự khác nhau giữa formal và informal vocabulary. Chẳng có cách nào khác là bạn phải trau chuốt mài dũa từ vựng formal theo thời gian và vận dụng nó trong bài viết của mình. Bạn có thể học từ những bài mẫu writing đáng tin cậy, học từ các bài đọc… Trong bài essay, hãy nói không với những từ ngữ trong văn nói viết hằng ngày và làm quen dần với việc sử dụng từ ngữ hản lâm. Dưới đây là một vài từ quen thuộc mà bạn nên học và sử dụng.
				</p>
				<table border="1" width="740">
					<tbody>
						<tr>
							<td width="160">
								<strong>
									<em>Formal</em>
								</strong>
							</td>
							<td width="160"> 
								<strong>
									<em>
										Informal
									</em>
								</strong>
							</td>
							<td width="160">
								<strong>
									<em>
										Formal
									</em>
								</strong>
							</td>
							<td width="160">
								<strong>
									<em>
										Informal
									</em>
								</strong>
							</td>
						</tr>
						<tr>
							<td width="160">
								Inform me
							</td>
							<td width="160">
								Let me know
							</td>
							<td width="160">
								Children
							</td>
							<td width="160">
								Kids
							</td>
						</tr>
						<tr>
							<td width="160">Contact</td><td width="160">Get in touch</td><td width="160">Obtain</td><td width="160">Get</td>
						</tr>
						<tr>
							<td width="160">Apologize</td><td width="160">Say sorry</td><td width="160">Sufficient</td><td width="160">Enough</td>
						</tr>
						<tr>
							<td width="160">Tolerate</td><td width="160">Put up</td><td width="160">Many/ much</td><td width="160">A lot of</td>
						</tr>
					</tbody>
				</table>
				<h3>
					<strong>
						Tip #2: Không copy toàn bộ câu hỏi vào bài làm
					</strong>
				</h3>
				<p>
					Nếu bạn chỉ copy toàn bộ câu hỏi ở phần để bài đã cho và bê vào bài viết của mình, thường các bạn hay bê vào introduction, thì đó đúng là một sự sai lầm. Giám khảo sẽ không tính những phần mà bạn copy từ đề bài đó vào số lượng từ của bài viết, và nếu chẳng may vì không được tính những từ đó mà bài viết Writing task 2 của bạn chỉ bao gồm ít hơn 250 từ thì điểm sẽ không cao như nó có thể nữa. Hơn thế nữa, việc copy lại toàn bộ đề bài càng chứng tỏ sự hạn hẹp về vốn từ vựng và cách diễn đạt ý của bạn. trong khi bạn có 7 cách viết lại câu cùng ý nghĩa hoặc nhiều hơn thế nữa, bạn lại không thể diễn đạt ý của đề bài theo một cách khác sao?
				</p>
				<h3>
					<strong>
						Tip #3: Hiểu chính xác câu hỏi
					</strong>
				</h3>
				<p>
					Phân chia 40 phút làm bài writing task 2 hợp lý và luôn giành thời gian đọc câu hỏi thật cẩn thận và đảm bảo rằng bạn hiểu đúng và đầu đủ đề bài. Bạn cần xác định đề bài thuộc dạng câu hỏi nào trong các loại câu hỏi trong IELTS Writing task 2. Sau khi xác định được dạng bài essay là bạn đã có định hướng được sườn bài viết của mình rồi, từ đó bạn mới đi đến bước brainstorm câu hỏi đúng được. Xác định yêu cầu của đề bài luôn là bước quan trọng nhất, vì nếu bước này sai, toàn bộ các bước tiếp theo của bạn cũng bị sai theo phản ứng dây chuyền.
				</p>
				<p>
					Dưới đây là 7 bước làm bài Writing task 2 mà bạn nên follow trong quá trình luyện viết
				</p>
				<p>
					<a href="">
						7 bước làm bài writing task 2
					</a>
				</p>
				<p>
					Bạn có thể thấy rằng Read Question là 3 bước đầu tiên mà thí sinh nên giành ít nhất 3 phút đề làm, vì nếu đọc sai đề bài và hiểu sai yêu cầu, chắc chắn hậu quả tiếp theo sẽ là viết lạc đề, và đương nhiên bạn đã mất điểm vì không đáp ứng một trong bốn tiêu chí chấm điểm bài writing task 2 là “Task response”.
				</p>
				<h3>
					<strong>
						Tip #4: Giành thời gian lập outline cho bài viết&nbsp;&nbsp; 
					</strong>
				</h3>
				<p>
					Bạn có nghĩ rằng bạn không có đủ thời gian để viết outline được vì thời gian làm bài chỉ có 40 phút cho task 2, nếu viết outline bạn sẽ không đủ tời gian làm bài? Nhưng bạn cần biết rằng bạn sẽ viết nhanh hơn rất nhiều khi bạn lên kế hoạch cho bài viết của mình, vì trong đầu bạn đã có sẵn ý tưởng và những supporting ideas cho ý tưởng của bạn. Khi đó bạn mới bắt đầu đặt bút để viết và nó sẽ hạn chế được số lượng lỗi bạn mắc trong bài viết.
				</p>
				<p>
					Lập một outline hoàn chỉnh, khi viết câu trước bạn đã biết được câu sau bạn sẽ đinh viết về cái gì và viết như thế nào. Hơn thế nữa, bạn hoàn toàn có sự kiểm soát về số lượng từ và chắc chắn không bị thiếu từ trong bài viết. Tất cả đã trong tầm kiểm soát của bạn nếu bạn có một outline tốt.&nbsp; Giành 10 phút đầu tiên để đọc đề bài và viết outline trong mỗi bài viết – tip quan trọng nhất để có một bài essay tốt.
				</p>
				<h3>
					<strong>
						Tip #5: Không viết tắt trong bài
					</strong>
				</h3>
				<p>
					Contraction có nghĩa là bạn viết “it’s” thay bằng “it is”, “I’ve” thay bằng “ I have”,.. Viết tắt là một điều cực kì tệ nếu nó xuất hiện trong bài viết của bạn, nó chẳng giúp bạn tiết kiệm được thời gian nhưng nó yêu cầu bạn trả giá bằng điểm của bạn. Tại sao ư? Trong văn phong viết formal có quy định không viết tắt cũng giống như trong các bài thi viết văn bằng tiếng Việt vậy.&nbsp; Hãy quên đi cách viết tắt trong IELTS Writing task 2, điều đó chỉ chứng tỏ bạn là một kẻ lười nhác và ….chúng tỏ bạn chưa đọc bài viết này hay những bài viết tại các websites khác.
				</p>
				<h3>
					<strong>
						Tip #6: Tránh sử dụng ngôi thứ nhất và ngôi thứ 2 thừa thãi 
					</strong>
				</h3>
				<p>
					Ngoài việc sử dụng từ hàn lâm trong một bài viết hàn lâm, bạn nên tránh sử dụng những đại từ nhân xưng như “I, You, We”, trừ khi bạn đang thể hiện ý kiến cá nhân trong bài viết của mình.
				</p>
				<h4>
					<strong>
						1) Không sử dụng ngôi 1 khi đưa ra ví dụ
					</strong>
				</h4>
				<p>
					Ví dụ trong bài viết nếu bạn muốn đưa ra ví dụ để support ý kiến của bạn rằng “nhiều người nghĩ rằng thành công có nghĩa là phải thật giàu có”, bạn có 2 lựa chọn đề đưa ra ví dụ như sau:
				</p>
				<ul>
					<li>
						<strong>Lựa chọn 1</strong>
						:Bố tôi luôn được mọi người đánh giá là thành công. Bố tôi sở hữu cả chục miếng đất ở Hà Nội, đi làm bằng xe oto xịn...
					</li>
					<li>
						<strong>Lụa chọn 2</strong>
						:Các tỉ phú như Bill Gate and Steve Job được coi là những người thành công vì họ nắm trong tay tài sản giá trị hàng tỉ đô la.
					</li>
				</ul>
				<p>
					Bạn nghĩ ví dụ nào sẽ tốt hơn? Đương nhiên là ví dụ số 2 vì những con người đó đã quá nối tiếng và ai cũng biết đến, nên tính xác thực và tính thuyết phục của ví dụ thứ 2 sẽ cao hơn ví dụ số 1 rất nhiều. Tránh sử dụng ngôi một khi đưa ra ví dụ. Nó chỉ được sử dụng khi bạn khẳng định ý kiến cá nhân trong bài viết của mình.
				</p>
				<h4>
					<strong>2) Thuyết phục ngôi số 3 khi viết bài</strong>
				</h4>
				<p>Mặc dù biết rằng người đọc bài viết của bạn chắc chắn là ông examiner và người cho điểm bài viết của bạn cũng chính là ông examiner, nhưng điều đó không có nghĩa là bài viết của bạn chỉ hướng tới ông examiner. Nghĩa là sao? Không dùng ngôi số 2 trong bài viết mà luôn dùng ngôi số 3 để mở rộng đối tượng mà bạn hướng tới.</p>
				<blockquote>
					<p><em>While <strong>you can think </strong>that playing video games can triggers many repercussions on players’ health and future, I personally concur that video games are also informative and educational tools. </em></p>
				</blockquote>
				<p>“You” được dùng trong câu trên ắt hẳn bạn đang nói đến examiner? Không, nếu bạn viết như vậy sẽ hoàn toàn sai, hãy sửa lại thành ngôi số 3 khi viết bài nhé!</p>
				<blockquote>
					<p><em>While <strong>some people think </strong>that playing video games can triggers many repercussions on players’ health and future, I personally concur that video games are also informative and educational tools.</em></p>
				</blockquote>
				<h3>
					<strong>
						Tip #8: Không viết quá dài hay quá ngắn 
					</strong>
				</h3>
				<p>
					Giới hạn bài viết là “tối thiểu” 250 từ trong bài essay. Bạn có thể viết nhiều hơn 250 từ, có thể là 270 hoặc 350… Các con số trên đều không bị cấm đoán. Tuy nhiên, bạn cần nhớ lấy 2 điều:
				</p>
				<h4>
					<strong>
						1) Độ dài dưới 250 từ bị trừ điểm
					</strong>
				</h4>
				<p>
					250 từ đã là quy định, nếu bạn viết dưới 250 từ tức là bạn làm sai quy định sai yêu cầu của đề bài và bạn sẽ bị…trừ điểm. Khi bạn viết không đủ 250 từ tức là bạn thiếu ý, bạn không phân bổ thời gian làm bài hiểu quả, bạn thiếu ngôn từ để diễn đạt ý …..và tổng kết lại là bạn chưa sử dụng tiếng Anh trong kỹ năng viết tốt nên trừ điểm là điều hiển nhiên. Vậy nên hãy lưu tâm về điều này.
				</p>
				<h4>
					<strong>
						2) Viết quá dài chỉ thiệt cho bạn
					</strong>
				</h4>
				<p>
					Bạn có nghĩ giám khảo muốn đọc 1 bài essay dài 400 từ hoặc hơn? Bạn có nghĩ bạn sẽ có lợi thế do bài viết của mình “siêu” dài? Lợi thế thì chưa thấy đâu nhưng chắc chắn bạn sẽ có những bất lợi sau:
				</p>
				<ul>
					<li>
						Tốn kém nhiều thời gian viết số từ thừa thãi dẫn đến không có thời gian để chăm chuốt bài viết (đọc lại bài, sửa lỗi sai, thay cách dùng từ tốt hơn ….)
					</li>
					<li>
						Tư đặt mình trong tình trạng nguy hiểm vì nếu ngữ pháp từ vựng không tốt, bạn sẽ lại càng phô ra yếu điểm của mình khi viết quá dài
					</li>
				</ul>
				<p>
					Vậy nên độ dài recommend cho 1 bài essay là giao động trong khoảng 250 – 300 từ là đẹp. Căn cứ vào chữ viết của bạn, bạn có thể áng chừng nó chiếm bao nhiêu dòng để có thể căn chỉnh đủ lượng từ trong bài viết mà không mất thời gian đếm từng từ.
				</p>
				<h3>
					<strong>
						Tip #9: Nghĩ đơn giản, viết đơn giản&nbsp; 
					</strong>
				</h3>
				<p>
					Khi bạn đọc một tờ báo, một đoạn văn, một bài tạp chí…., mục đích cuối cùng của bạn là lấy được thông tin một cách dễ dàng. Khi giám khảo đọc bài essay của bạn, mục đích cuối cùng là có thể xác định band điểm chính xác dựa trên 4 tiêu chí chấm điểm. Bạn làm thế nào để giúp ông ý hoàn thành nhiệm vụ nhanh chóng và không đau đầu? Nghĩ đơn giản và viết đơn giản. Thay bằng dùng câu dài ngoàng ngoàng 4 5 mệnh đề, hãy viết câu ghép chỉ có 2 mệnh đề và đa dạng các loại câu. Chắc chắn điểm số vẫn sẽ cao, bạn được lợi, thầy examiner cũng được lợi.
				</p>
				<h3>
					<strong>
						Tip #10: Thoải mái làm quen với chiếc đồng hồ
					</strong>
				</h3>
				<p>
					Viết một bài essay chỉ trong vòng 40 phút thực sự không hề dễ dàng, kể cả đối với một người bản ngữ. Khi bạn bắt đầu cho mục tiêu IELTS, hãy làm quen với việc luyện tập trong khoảng thời gian hạn chế đã được cho trong mỗi bài. Có rất nhiều bạn đã làm một đoạn essay cực tốt, nhưng trong 3 tiếng đồng hồ. Chính vì lí do đó khi được yêu cầu viết 1 đoạn văn trong vòng chỉ 40 phút, họ nghĩ rằng họ không làm được, và quả thực bài viết tệ hơn rất nhiều, thậm chí họ không thể hoàn chỉnh được bài viết của mình. Luôn làm quen rằng bạn chỉ có 40 phút làm bài essay và luôn luyện tập trong khung thời gian được cho phép.
				</p>
				<p>
					<em>
						Woah, càng tìm hiểu về viết essay càng cảm thấy nó thật thú vị đúng không nào các bạn. Hãy luôn tự tin khi viết và áp dụng 10 tips trên trong bài viết của mình nhé. Yeah, hôm nay đã thu được 1 bọc kiến thức mới rồi, mang về nhà và lôi nó ra dùng thôi.
					</em>
				</p>
			</div>
		</div>
	</div>
</body>
</html>