img {
	margin-bottom: 20px;
}

li {
	margin: 0;
}

span {
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.ul-no-bullet {
	list-style-type: none;
}

.exam-buttons a {
	width: 120px;
	margin-bottom: 5px;
}

* {
	margin: 0;
}