<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../stylesheets/aboutus.css">	
</head>
<body>
<!-- navitigation --> 
	<div class="navbar navbar-inverse navbar-border">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand logo">
					<span style="color:limegreen;">English</span>
					<span style="color: red;">For</span>
					<span style="color: deepskyblue">EveryOne</span>
					<span class="logo-com">.com</span>
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href=""><span class="glyphicon glyphicon-home"></span> Home</a></li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
							<span class="glyphicon glyphicon-book"></span> Exam Library
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="">Cambridge IELTS 1</a></li>
						</ul>
					</li>
					<li><a href="#/bandscore"><span class="glyphicon glyphicon-signal"></span> IELTS Band Score</a></li>
					<li><a href="#/aboutus"><span class="glyphicon glyphicon-user"></span> About</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!--content -->
	<div class="container" class="text-center">
		<h1>About us </h1>
		<ul>
			<li>
				<div class="well" align="center">
					<img src="../image/thuc.jpg">
					<ul>
						<li><b>Developer: </b> <h2>Nguyen Huu Thuc </h2></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="well" align="center">
					<img src="../image/quan.jpg">
					<ul>
						<li><b>Developer: </b> <h2>Nguyen Van Quan</h2></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="well" align="center">
					<img src="../image/vu.jpg">
					<ul>
						<li><b>Developer: </b> <h2>Nguyen Van Vu<h2></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>