<!DOCTYPE html>
<html>
<head>
	<title>IELTS Band Score</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" >
</head>
<body>
	<!--navigation -->
	<div class="navbar navbar-inverse navbar-border">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand logo">
					<span style="color:limegreen;">English</span>
					<span style="color: red;">For</span>
					<span style="color: deepskyblue">EveryOne</span>
					<span class="logo-com">.com</span>
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="#/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
							<span class="glyphicon glyphicon-book"></span> Exam Library
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="">Cambridge IELTS 1</a></li>
						</ul>
					</li>
					<li><a href=""><span class="glyphicon glyphicon-signal"></span> IELTS Band Score</a></li>
					<li><a href="#/aboutus"><span class="glyphicon glyphicon-user"></span> About</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!--content -->
	<div>
		<div class="container">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h2>Band Score</h2>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-8 col-xs-6">
							<h4 class="text-warning">How is IELTS scored?</h4>
							<p>IELTS provides a profile of you ability to use English</p>
							<dl class="dl_indent">
								<dt>9 Expert user</dt>
								<dd>Has fully operational command of the language: appropriate, accurate and fluent with complete understand</dd>
								<dt>8 Very good user</dt>
								<dd>Has fully operational command of the language with only occasional unsystematic inaccuracies and inappropriacies. Misunderstands may occur in unfamiliar situations. Handles complex detailed argumentation well</dd>
								<dt>7 Good user</dt>
								<dd>Has operational command of the language, though with occational inaccuracies, inappropriacies and misunderstandings in some situations. Generally handles complex language well and understands detailed reasoning</dd>
								<dt>6 Competent user</dt>
								<dd>Has generally effective command of the language despite in accuracies, inappropriacies and misunderstandings. Can use and understand fairly complex language, particularly in familiar situations.</dd>
								<dt>5 Modest user</dt>
								<dd>Has partial command of the language, copying with overall meaning in most situations, though is likely to make many mistakes. Should be able to handle basic communication in own field</dd>
								<dt>4 Limited user</dt>
								<dd>Basic competence is limited to familiar situations. Has frequent problems in understanding and expression. Is not able to use complex language</dd>
								<dt>3 Extremely limited user</dt>
								<dd>Conveys and understand only general meaning in very familiar situations. Frequent breakdowns in communication occur</dd>
								<dt>2 Intermittent user</dt>
								<dd>No real commication is possible except for the most basic information using isolated words or short fomulate in familiar situations and to meet immediate neesd. Has great difficulty understanding spoken and written English.</dd>
								<dt>1 Non user</dt>
								<dd>Essentialy has no ability to use the language beyound possibly a few isolated words.</dd>
								<dt>0 Did not attempt the test</dt>
								<dd>No assessable information provied</dd>
							</dl>
						</div>
						<div class="col-sm-4 col-xs-6">
							<h4 class="text-warning">Marking Scheme</h4>
							<table class="table">
								<thead>
									<tr style="background-color: gray; color:white">
										<th>Level</th>
										<th>Band</th>
										<th>Listening Score</th>
										<th>Reading Score</th>
									</tr>
								</thead>
								<tbody>
									<tr class="info">
										<td>Expert</td>
										<td>9</td>
										<td>39-40</td>
										<td>39-40</td>
									</tr>
									<tr class="info">
										<td>Very good</td>
										<td>8.5</td>
										<td>37-38</td>
										<td>37-38</td>
									</tr>
									<tr class="info">
										<td>Very good</td>
										<td>8</td>
										<td>35-36</td>
										<td>35-36</td>
									</tr>
									<tr class="success">
										<td>Good</td>
										<td>7.5</td>
										<td>32-34</td>
										<td>33-34</td>
									</tr>
									<tr class="success">
										<td>Good</td>
										<td>7</td>
										<td>30-31</td>
										<td>30-32</td>
									</tr>
									<tr class="warning">
										<td>Competent</td>
										<td>6.5</td>
										<td>26-29</td>
										<td>27-29</td>
									</tr>
									<tr class="warning">
										<td>Competent</td>
										<td>6</td>
										<td>23-25</td>
										<td>23-26</td>
									</tr>
									<tr class="danger">
										<td>Modest</td>
										<td>5.5</td>
										<td>18-22</td>
										<td>19-22</td>
									</tr>
									<tr class="danger">
										<td>Modest</td>
										<td>5</td>
										<td>16-17</td>
										<td>16-17</td>
									</tr>
									<tr class="active">
										<td>Limited</td>
										<td>4.5</td>
										<td>13-15</td>
										<td>13-14</td>
									</tr>
									<tr class="active">
										<td>Limited</td>
										<td>4</td>
										<td>10-12</td>
										<td>10-12</td>
									</tr>
									<tr class="active">
										<td>Extremely Limited</td>
										<td>3.5</td>
										<td>8-10</td>
										<td>8-9</td>
									</tr>
									<tr class="active">
										<td>Extremely Limited</td>
										<td>3</td>
										<td>6-7</td>
										<td>6-7</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<hr></hr>
					<div class="col-lg-12">
						<dl>
							<dt>What is the pass mark ? </dt>
							<dd>There is no fixed pass mark in IELTS. The instituation you want to enter will decide whether your score is appropriate for the demands of the course of study of traning you want to undertake. However, as a general rule, scores below Band 5 in any one skill are considered too low for academic study; scores above Band 5 are deemed to be adequate to good. Overall Band scores of 5 or 6 are borderline and may not be acceptable at many institutions. If you are getting only about half of the questions in these sample tests correct, then you are probably not quite ready to take the IELTS test. Again you should seek advice from a teacher about your level of English. Remember you must allow a duration of at least 3 months between each attempt at the test.</dd>
						</dl>
						<p class="text-center">
							<a href="#/catalogue" class="btn btn-success btn-lg">Browse our Exam Library</a>
						</p>
					</div>
				</div>
			</div>
		</div>	
	</div>
</body>
</html>