<!DOCTYPE html>
<html>
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" >
</head>
<body>
	<!-- navitigation --> 
	<div class="navbar navbar-inverse navbar-border">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand logo">
					<span style="color:limegreen;">English</span>
					<span style="color: red;">For</span>
					<span style="color: deepskyblue">EveryOne</span>
					<span class="logo-com">.com</span>
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href=""><span class="glyphicon glyphicon-home"></span> Home</a></li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
							<span class="glyphicon glyphicon-book"></span> Exam Library
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="">Cambridge IELTS 1</a></li>
						</ul>
					</li>
					<li><a href="#/bandscore"><span class="glyphicon glyphicon-signal"></span> IELTS Band Score</a></li>
					<li><a href=""><span class="glyphicon glyphicon-user"></span> About</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!--Content -->
	<div class="content">
		<div class="jumbotron jumbotron-fluid text-center">
			<div class="containter">
				<div class="col-xs-12">
					<h2><span class="label label-danger">EnglishForEveryOne.com</span></h2>
					<p>Allows user to take past IELTS exams paper ONLINE completely<KBD>FREE</KBD></p>
					<div class="col-sm-12 browse-catalogue">
						<div class="col-xs-12">
							<a href="" class="btn btn-success btn-lg" role="button">Take an exam now</a>
							<br />
							<small><sup>and get your score upon submission</sup></small>
						</div>
						<div></div>
					</div>
				</div>
			</div>
		</div>
		<div class="container text-center" style="padding-top:10px; padding-bottom:50px;">
			<h2 class="bs-docs-featurette-title text-primary">Designed for everyone, everywhere.</h2>
			<p class="lead">EnglishForEveryOne.com helps you test your skills and improvements</p>
			<hr class="half-rule"></hr>
			<div class="row">
				<div class="col-sm-4">
					<img src="../image/getbtn1.png">
					<h3>First time ever release</h3>
					<ul class="text-left">
						<li>Free Online IELTS exams tests</li>
						<li>Full Cambridge IELTS test books from 1 to 5</li>
						<li>Guarentee to update the lastest Cambridge IELTS books</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<img src="../image/getbtn2.png">
					<h3>Convinient</h3>
					<ul class="text-left">
						<li>Give answers - receive result online immediately</li>
						<li>No more time for downloading or manual checking, no more paper</li>
						<li>Keep all your Ielts-test-habits by clicking
							<ul>
								<li>Review your answers anytime</li>
								<li>Highlight keywords, main points(Reading test only)</li>
								<li>Quickly taking note of the tapescripts (Listening .. )</li>
								<li>Time couting down to simulate real tests</li>
							</ul>
						</li>
						<li>Anything you can do on paper butfaster adn easier</li>
					</ul>
				</div>
				<div class="col-sm-4">

					<img src="../image/getbtn3.png">
					<h3>Efficient way to practice</h3>
					<ul class="text-left">
						<li>Interactive Listening and Reading tests</li>
						<li>Cost less time, pay more exciting with IELTS</li>
						<li>Practice IELTS everyday, improve IELTS skills</li>
						<li>Get better, esimating 0.5 - 1.5 IELTS score for taking all the tests</li>
					</ul>
				</div>
			</div>
			<hr class="half-rule"></hr>
			<p class="lead text-success">EnglishForEveryOne.com is free to use and license.</p>
			<a href="" class="btn btn-primary btn-lg">Choose an exam to test</a>
		</div>
	</div>

	<!-- -->
	<div></div>
</body>
</html>